# Build-Artefakte
usbprobe
chipinfo
initchip
efuseinfo
fwload
*.o

# Linux-Treiber nur als Portierungs-Referenz, nicht ins Repo
reference/

ledtest
stagetest
monitor
capture.pcap
cap5g.pcap
*.pcap
inject
inject.pcap
ledscan
alfa-extcap
scan
associate
connect
ccmptest
